* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #402d75, #1d9478, #8eac50, #d3d04f);
  background-size: 400% 400%;
  height: 300vh;
  animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 42vh;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
}

#main {
  width: 50vw;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

hr {
  width: 50vw;
}

a {
  text-decoration-line: none;
  color: black;
}

nav a,
footer a {
  padding: 5px 10px 5px 10px;
}

nav a {
  color: #bee5f7;
}

nav a:hover,
footer a:hover {
  background-color: #9450ad;
  color: #d9fa8c;
  border-radius: 15%;
}

#nav-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 25vw;
  left: 0px;
  top: 0px;
}

#game {
  width: 25vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 25vh;
  left: -150%;
  transition: 2s;
  background-color: #9450ad83;
}

#game p {
  color: #d9fa8c;
  margin: 1vw 1vw 1vw 0.25vw;
  padding: 0px 1vw 0px 0.25vw;
}

#game img {
  width: 2vw;
  height: 2vw;
  margin-left: 1.5vw;
}

.gra:hover + #game {
  left: 0%;
}

#nav {
  width: 25vw;
  margin: 0px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
  background-color: #1d9377b0;
  padding: 10px 5px 10px 5px;
}

.nav-item {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 50vw;
  font-family: "Merriweather", serif;
}

.about {
  font-style: italic;
}

.rylo {
  border-radius: 100%;
  width: 8vw;
  min-width: 70px;
}

.skill-image img {
  width: 10vw;
  min-width: 100px;
  border-radius: 10%;
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  height: 100vh;
}

.features-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 5);
  gap: 1vw;
  width: 25vw;
}

.skill-dcp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dcp {
  margin-left: 1vw;
  font-family: "Merriweather", serif;
}

.contact {
  display: flex;
  height: 25vh;
  width: 25vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.contact h3 {
  text-align: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 30vw;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-bottom: 30px;
}

.btn-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 8vw;
  min-width: 150px;
  height: 4vh;
  background-color: #bee5f7;
  text-decoration: none;
  border-radius: 5%;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

.btn-contact:hover {
  border: 1px solid black;
  background-color: rgb(43, 139, 43);
  font-size: 1em;
  color: rgb(209, 209, 86);
  border-radius: 5%;
}
